<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamLand</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <!--icon link-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="flex-container">
      <!--ukljuci header-->
      <%- include("partials/header") %>
      <div id="main">
        <nav id="navbar">
          <ul id="nav-list">
            <% data.categories.forEach(category => { %>
                <li class="nav-item"><a href="/home/getProducts/<%= category.name %>" class="nav-link"><%= category.name %></a></li>
            <%}); %>
          </ul>
          <ul id="contact">
            <li class="con-item">Kontakt</li>
            <li class="con-item">Newsletter</li>
            <li class="con-item">Pretplati se</li>
          </ul>
        </nav>
          <div id="hero-img">
            <div id="hero-text">
              <h2>Dobrodošli u našu čarobnu trgovinu igračaka!<br>Istražite našu kolekciju i pronađite <br> savršenu igračku za svaku avanturu!</h1>
            </div>
          </div>
          <div id="product">
            <!--ukljuci kartice s proizvodima-->
            <%- include("partials/product-cards") %>
          </div>
      </div>
      <%- include("partials/footer") %>
    </div>
    
    
    <!-- <script src="/data/mydata.js"></script>-->
    <script src="/scripts/cart-actions.js"></script>
  </body>
</html>